

@model Vehicle

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src=@Model.ImageUrl class="card-img" alt=@Model.Brand>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">@Model.Brand</h3>
                <h4 class="card-title">@Model.Model</h4>
                <h5 class="card-title">@Model.Amount</h5>
                <h6 class="card-text">@Model.ModelYear</h6>
                <p class="card-text"><small class="text-muted">@Model.VehicleClass.Name</small></p>
                <p class="card-text"><small class="text-muted">@Model.VehicleClass.Description</small></p>
                <a asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-VinNo="@Model.VinNo"
                   class="btn btn-primary">Add to Cart</a>
                <a asp-controller="Vehicle"
                   asp-action="List"
                   class="btn btn-primary">Vehicle  List</a>
            </div>
        </div>
    </div>
</div>

